---
import { getCollection } from 'astro:content';
import Layout from '../layouts/layout.astro';
import BlogCard from '../components/BlogCard.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<style>
  main {
    width: 960px;
    margin: auto;
    max-width: calc(100% - 2em);
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: calc(50% - 1rem);
  }
  .articles {
    margin-top: 60px;
  }

  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
  }
</style>

<Layout>
  <!-- <Header title={SITE_TITLE} /> -->
  <main>
    <h1 class='text-red-500'>Hello there</h1>
    <p>Welcome to my blog :)</p>
    <section class='articles'>
      <ul>
        {
          posts.map((post) => (
            <li>
              <BlogCard {...post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
